<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DELIVERY CUSTOMER</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <link rel="stylesheet" href="/esri-leaflet-geocoder/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/customer.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="/esri-leaflet/esri-leaflet.js"></script>
    <script src="/esri-leaflet-geocoder/esri-leaflet-geocoder.js"></script>
    <script src="js/customer.js" defer></script>

  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button id="button" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SysDes projekt prototype Customer</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" target="_blank">Customer</a></li>
            <li><a href="/dispatcher" target="_blank">Dispatcher</a></li>
            <li><a href="/driver" target="_blank">Driver</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
      <h1 id="header1" class="margin">De Hå Ell</h1>
      <h3 id="t1" >It comes when it comes</h3><br>
      <img src="https://i.pinimg.com/originals/c8/83/b0/c883b0a57469ef53b3f6f39e091edb56.gif" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">

      <br>
      <a href="#2Container" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-map-marker"></span> Order here
      </a>
    </div>


    <div id="page"> <!--#page -->

      <!-- Second Container -->
      <div class="container-fluid bg-2 text-center"  id="2Container">

        <div class="container-fluid pickdrop">
          <h2 class="margin"> Pick-up location</h2>
          <form class="form-group" name="pickUpLoc" onSubmit="return false;">
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="address">Street name and house number</label>
              <input type="text" class="form-control" id="address" placeholder="Street name and house number" required="required" name="address">
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="postal">Postal code</label>
              <input type="text" class="form-control" id="postal" placeholder="Postal code" required="required" name="postal">
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="City" required="required" name="city">
            </div>
          </form>
        </div>
        <div class="container-fluid pickdrop">
          <h2 class="margin"> Drop-off location</h2>
          <form class="form-group" name="dropOffLoc" onSubmit="return false;">
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="First name;Last name;">First- and last name of receiver</label>
              <div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="First name" required="required" name="firstN">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Last name" required="required" name="lastN">
                </div>
              </div>
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="address">Street name and house number</label>
              <input type="text" class="form-control" id="address" placeholder="Street name and house number" required="required" name="address">
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="postal">Postal code</label>
              <input type="text" class="form-control" id="postal" placeholder="Postal code" required="required" name="postal">
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="City" required="required" name="city">
            </div>
          </form>
        </div>

        <a v-on:click="checkMapInput" href="#pack-size" class="btn btn-default btn-lg">
          <span class="	glyphicon glyphicon-ok"></span> Satisfied? Continue here!
        </a>
        <p>{{ warning }}</p>
      </div>

      <!-- Package size-->
      <div class="container-fluid bg-pack text-center" id="pack-size">
          <h2 class="margin">Please specify package weight</h2>
          <div class="container-fluid packSize text-center">
          <input type="radio" name="packSize" value="59" checked> Less than 1 kg - 59 kr</input><br>
          <input type="radio" name="packSize" value="89"> 1-3 kg - 89 kr</input><br>
          <input type="radio" name="packSize" value="99"> More than 3 kg - 99 kr</input>
        </div><br>
        In a hurry? Order Express delivery for 99 kr: <input type="checkbox" v-model="express" @change="moveMarker" name="express" value="express"></input><br>
        <div>
          <p v-if=express>Delivery in 1-2 days</p>
          <p v-else>Delivery in 3-5 days</p><br>
        </div>
        <a v-on:click="checkPackageInput" href="#3Container" class="btn btn-default btn-lg">
          <span class="	glyphicon glyphicon-ok"></span> OK?
        </a>
      </div>

      <!-- Third Container -->
      <div class="container-fluid bg-3 text-center"  id="3Container" >
        <h2 class="margin">Personal details</h2>
        <p>Please provide your personal details below</p>

        <!--------- Personal information ---------->
        <div>
          <form class="form-group" name="personalInfo" onSubmit="return false;">
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="First name;Last name;">First- and last name</label>
              <div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="First name" required="required" name="firstN">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Last name" required="required" name="lastN">
                </div>
              </div>
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="address">Street name and house number</label>
              <input type="text" class="form-control" id="address" placeholder="Street name and house number" required="required" name="address">
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="number">Postal code</label>
              <input type="text" class="form-control" id="postC" placeholder="Postal code" required="required" name="postC">
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="City" required="required" name="city">
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="teleN">Phone number</label>
              <input type="number" class="form-control" id="teleN" placeholder="+46" required="required" name="number">
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
              <label for="teleN">Message to us</label>
              <input type="text" class="form-control" id="message" placeholder="Hi :)" name="message">
            </div>
            <div class="col-md-4 col-md-offset-4">
              <a href="#payment" id="button" onclick="showPayment()" class="btn btn-primary" type="submit" data-toggle="collapse" data-target="#payment">Go to checkout</a>
            </div>
          </form>
        </div>
        <!----------------------------------------->

        <!----------- Payment method -------------->
        <div class="col-md-4 col-md-offset-4 collapse" id="payment">
          <div>
            <p>To pay: {{totalCost}} kr</p>

            <form>
              <div class="form-group">
                <label for="pOption">Payment method</label>
                <select class="form-control" id="pOption">
                  <option>Swish</option>
                  <option>Card</option>
                  <option>Paypal</option>
                  <option>Invoice</option>
                </select>
                <br>
              </div>
            </form>
          </div>



          <a id="button" href="#4Container" class="btn btn-primary" v-on:click="showOrderNumber" data-toggle="collapse" data-target="#4Container">
            Place order
          </a>
          <!----------------------------------------->

        </div>
      </div>



        <!-- Fourth Container (Grid) -->
        <div class="container-fluid bg-4 text-center collapse" id="4Container">
            <h2>Thank you for your order!<br><br></h2>
            <img src="https://i.pinimg.com/originals/98/64/9a/98649add72e05e3cc1b8ae0e6f553c8e.gif" class="img-responsive img-circle margin" style="display:inline" width="200" height="200">
            <h3>Your order number is {{ orderId }}. Please keep this for future inquiries regarding your order.</h3>
        </div>

      </div> <!-- End of #page -->

    <!-- Footer -->
    <footer class="container-fluid bg-5 text-center">
      <p>Prototype made by:<br>Martin Dannelind<br>Sofia Johansson<br>Maja Danielsson<br>Erik Hellström<br>Oscar Englöf</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>
