<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DELIVERY DISPATCHER</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/dispatcher.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="js/dispatcher.js" defer></script>
  </head>
  <body>

    <div class="container">
      <div id="page">




        <!---------- Table with orders "Hämtning"-------------->
        <h3>Current Orders to pick up</h3>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Check to send</th>
              <th>Order ID</th>
              <th>Pick up location</th>
              <th>Drop of location</th>
              <th> Type of order </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="order in orders" v-if="!order.orderDroppedAtHub">
              <td><input type="checkbox" name="checkboxPick" :id="order.orderId"></td>
              <td># {{order.orderId}}</td>
              <td>{{ order.fromLatLong[0].toFixed(3) }}, {{ order.fromLatLong[1].toFixed(3) }}</td>
              <td v-if="order.expressOrAlreadyProcessed" v-if="order.orderPickedUp">{{ order.destLatLong[0].toFixed(3) }}, {{ order.destLatLong[1].toFixed(3) }}</td>
              <td v-if="!order.expressOrAlreadyProcessed">HUB</td>
              <!-- Original code to display final destination instead of "HUB"
              <td>{{ order.destLatLong[0].toFixed(3) }}, {{ order.destLatLong[1].toFixed(3) }}</td>
              -->
              <td> {{ order.expressOrAlreadyProcessed ? "EXPRESS" : "Standard" }} </td>
            </tr>
          </tbody>
        </table>
        <!------------------------------------>


        <!-------- Dropdown for cars -------->
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pick car
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li v-for="driver in drivers">
              <a v-on:click="changeDriver(driver.driverId);checkedOrdersFunq(orders);" ># {{ driver.driverId}} Pos: {{ driver.latLong.lat.toFixed(3) }}, {{ driver.latLong.lng.toFixed(3) }} </a>
            </li>
          </ul>
        </div>

        <div v-if="checkedOrders != false">
          <div class="jumbotron" id="summary" >
            <h4>To send</h4>
            <div v-for="checked1 in checkedOrders">{{ checked1.orderId }}</div>
            <h4>To driver</h4>
            # {{ driver }} <span class="glyphicon glyphicon-sunglasses"></span>
          </div>
        </div>

        <button v-on:click="assignBulk(orders)" type="button" class="btn btn-lg">Conf</button>
        <!------------------------------------>



        <!-- Table with orders "Avlämning" -->
        <h3>Current Orders to drop off</h3>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Check to send</th>
              <th>Order ID</th>
              <th>Drop off location</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="order in orders" v-if="order.orderDroppedAtHub">
              <td><input type="checkbox" name="toSend" :id="order.orderId"></td>

              <td># {{order.orderId}}</td>
              <td>{{ order.destLatLong[0].toFixed(3) }}, {{ order.destLatLong[1].toFixed(3) }}</td>
            </tr>
          </tbody>
        </table>
        <!------------------------------------>



        <!---------- Given code -------------->
        <a href="/" target="_blank">Open customer view</a> |
        <a href="/dispatcher" target="_blank">Open another dispatcher view</a> |
        <a href="/driver" target="_blank">Open driver view</a>
        <h1>DELIVERY DISPATCHER</h1>

        <div id="my-map"></div>

        <h1>Orders</h1>
        <ul>
          <li v-for="order in orders">
            # {{ order.orderId}} From: {{ order.fromLatLong[0].toFixed(3) }}, {{ order.fromLatLong[1].toFixed(3) }} Destination: {{ order.destLatLong[0].toFixed(3) }}, {{ order.destLatLong[1].toFixed(3) }} Express/Processed: {{ order.expressOrAlreadyProcessed ? "Yes" : "No" }}
            <ul>
              <li v-for="(detail, key) in order.orderDetails">
                {{ key + ": " + detail }}
              </li>
            </ul>
            <select v-on:change="assignDriver(order)" v-model="order.driverId">
              <option disabled value="">Assign a driver</option>
              <option v-for="driver in drivers" :value="driver.driverId">
                # {{ driver.driverId}} Pos: {{ driver.latLong.lat.toFixed(3) }}, {{ driver.latLong.lng.toFixed(3) }} </option>
            </select> Assigned to driver #{{ order.driverId }}
          </li>
        </ul>
        <!------------------------------------->



      </div> <!-- End of #page -->
    </div> <!-- End of container -->

    <!-- Bootstrap links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
