<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DELIVERY DRIVER</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/driver.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="js/driver.js" defer></script>
  </head>
  <body>

    <!-- Navbar
         <nav class="navbar navbar-default">
           <div class="container">
             <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">SysDes projekt prototype Driver</a>
             </div>
             <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right">
                 <li><a href="/" target="_blank">Customer</a></li>
                 <li><a href="/dispatcher" target="_blank">Dispatcher</a></li>
                 <li><a href="/driver" target="_blank">Driver</a></li>
               </ul>
             </div>
           </div>
         </nav>
         -->


    <div id="page">


      <!-- First Container -->
      <div class="container-fluid bg-1 text-center" id="logIn">

        <br><br><br><br><br>
        <h1>Please enter your driver ID</h1>
        <div class="col-md-4 col-md-offset-4">
          <input type="textfield" class="form-control " v-model="driverId" size="4"/>
          </br>
          <button class="btn btn-primary btn-lg col-md-6 col-md-offset-3 " id="signInB" v-on:click="activateDriver" onclick="signIn()">Sign in</button>
        </div>
      </div><!-- First Container -->




      <!-- Second Container -->
      <div class="container-fluid bg-2 text-center">

        <div class="container-fluid text-center">
          <div class="row">
            <button id="lMapBtn" class="col-lg-2 col-md-offset-4 btn btn-lg btn-primary" onclick="showMap()">Enlarge map</button>
            <button id="sMapBtn" class="col-lg-2 col-md-offset-4 btn btn-lg btn-primary" onclick="showMap()">Minimize map</button>
            <button id="quit"    class="col-lg-2  btn btn-lg btn-primary" v-on:click="quit" onclick="logOut()">Sign out</button>
          </div>
        </div>

        <div  id="mainPage">

          <div class="row">
            <div class="col-lg-6" id="infoSection">


              <div v-if="active">
                <br><br>
                <h3>Current orderlist</h3>
                <table class="table table-hover table-bordered" >
                  <thead>
                    <tr>
                      <!--<th>Select order</th>-->
                      <th>Order ID</th>
                      <th>Pick up location</th>
                      <th>Drop off location</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="order in orders" v-if="!order.orderDroppedAtHub" id = "orderTable">
                      <!--<td><input type="checkbox" name="markedOrders" :id="order.orderId"></td>-->
                      <td># {{order.orderId}}</td>
                      <td v-if = "!order.orderDroppedAtHub2"> {{ order.fromLatLong[0].toFixed(3) }}, {{ order.fromLatLong[1].toFixed(3) }}</td>
                      <td v-else>HUB</td>
                      <td v-if="order.expressOrAlreadyProcessed || order.orderDroppedAtHub2">{{ order.destLatLong[0].toFixed(3) }}, {{ order.destLatLong[1].toFixed(3) }}</td>
                      <td v-else>HUB</td>
                      <td>
                        <button class = "btn btn-primary" v-if="!order.orderPickedUp" v-on:click="orderPickedUp(order)">Picked up!</button>
                        <button class = "btn btn-primary" v-if="!order.showCustomer && order.orderPickedUp" v-on:click="orderDroppedOffAtHub(order)">Dropped off at hub!</button>
                        <button class = "btn btn-primary" v-if="order.showCustomer" v-on:click="orderDroppedOff(order)">Delivered to customer!</button></td>
                    </tr>
                  </tbody>
                </table>

                <!-- fix the buttonpress for multiple orders in the checklist -->
                <!--<button v-on:click="orderPickedUp()">Picked up!</button><button v-on:click="orderDroppedOff()">Dropped off!</button><button v-on:click="orderDroppedOffAtHub()">Dropped off at hub!</button>-->

              </div>
            </div>



            <div class="col-lg-6" id="mapSection">
              <div id="my-map"></div>
            </div>

          </div><!-- End of row -->
        </div> <!-- End of #page -->
      </div><!-- Second Container -->

      <!-- Footer -->
      <footer class="container-footer bg-5 text-center">
        <p>Prototype made by:
          <br>Martin Dannelind
          <br>Sofia Johansson
          <br>Maja Danielsson
          <br>Erik Hellström
          <br>Oscar Englöf</p>
      </footer>

      <!-- Bootstrap links -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
