@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");

body {
  margin: 2em;
  font-family: 'Fjalla One', sans-serif;
  font-size: 12pt;
  background: #F08080;
}

#personalInfo {
  margin: 1.5em;
  padding: 1.5em;
  border: 0.3em double #FFFFFF;
}

#payment {
  margin: 1.5em;
  padding: 1.5em;
  border: 0.3em double #FFFFFF;
}
#whole {

}
