@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Lato:900");

html {
    scroll-behavior: smooth;
}

/* Theme */
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

#header1 {
    font-family: 'Lato', sans-serif;
    font-size: 90px;
}

#t1 {color: #474e5d;}

#button {background-color: #474e5d;}

#detail {color: #11B29C;}

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #11B29C; /* Green #1abc9c*/
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    display: none;
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-pack {
  display: none;
  background-color: #11B29C; /* Green #1abc9c*/
  color: #ffffff;
}

.pickdrop {
  border-style: groove;
  border-color: #11B29C;
  border-width: 0.8em;
  background-color: #79849b;
  color: Black;
  margin-left: 7em;
  margin-right: 7em;
  margin-bottom: 2em;
}

.packSize {
  border-style: groove;
  border-color: #474e5d;
  border-width: 0.5em;
  background-color: #8dc6bf;
  margin-left: 25em;
  margin-right: 25em;

}

#payment {
    display: none;
}
.bg-4 {
    background-color: #ff814c; /* Orange */
    color: #fff;
}
.bg-5 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #ff814c !important;
}

/*--------------------------------------*/


/*
body {
  margin: 2em;
  font-family: 'Fjalla One', sans-serif;
  font-size: 12pt;
  background: #ead1dcff;
}

#personalInfo {
  margin: 1.5em;
  padding: 1.5em;
  border: 0.3em double #FFFFFF;
}

#payment {
  margin: 1.5em;
  padding: 1.5em;
  border: 0.3em double #FFFFFF;
}
#whole {

}
