@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");

body {
  font-family: 'Fjalla One', sans-serif;
  font-size: 12pt;
  background: lightGreen;
}

#order {
  background: white;
}

#orderList {
  margin-left: 100;
}
